.navbar-light .navbar-brand {
    color: #800080;
}

.navbar-light .navbar-brand:hover {
    color: #800080;
}

.navbar-light .navbar-brand:visited {
    color: #800080;
}

header {
    text-align: center;
    margin-top: 50px;
}

main {
    margin: 100px auto;
    width: 500px;
}

#intro {
    margin: 100px auto;
    text-align: center;
    width: 500px;
}

p {
    font-size: 1.5em;
}

#start {
    margin-top: 20px;
    background-color: #800080;
}

#quiz {
    background-color: #fff;
    width: 500px;
    height: 300px;
    margin: 100px auto;
    text-align: center;
}

#quiz-question {
    font-size: 2em;
}

#quiz-answers {
    padding-top: 10px;
}

#quiz-answers button {
    color: #fff;
    font-family: arial;
    text-align: left;
    background-color: #800080;
    margin-top: 10px;
    padding: 5px;
    display: block;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#game-over {
    font-size: 1.5em;
    text-align: center;
    width: 500px;
    margin: 100px auto;
}

#submit {
    background-color: #800080;
    border-radius: 8px;
}

#leader-board {
    width: 500px;
    margin: 100px auto;
}

#submit-go-back-btn,
#submit-clear-scores-btn {
    background-color: #800080;
    border-radius: 8px;
}
