.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:visited {
    color: #800080;
}

header {
    margin-top: 50px;
}

main {
    margin: 100px auto;
    width: 500px;
    height: 300px;
}

p {
    font-size: 1.5em;
}

#start {
    margin-top: 20px;
}

#start,
#quiz-answers button,
#submit,
#submit-go-back-btn,
#submit-clear-scores-btn {
    background-color: #800080;
    border-radius: 8px;
}

header,
#intro,
#quiz,
#game-over {
    text-align: center;
}

#quiz {
    background-color: #fff;
}

#quiz-question {
    font-size: 2em;
}

#quiz-answers {
    padding-top: 10px;
}

#quiz-answers button {
    color: #fff;
    font-family: arial;
    text-align: left;
    margin-top: 10px;
    padding: 5px;
    display: block;
    border-radius: 8px;
}

.hidden {
    display: none;
}

#game-over {
    font-size: 1.5em;
}
